* {
    margin: 0;
    font-family: 'Oswald', sans-serif;
}
html, body {
    height: 100%;
}

#header {
    bottom: 0;
    left: 0;
    height: 5%;
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    text-align: center;
}

#main {
    bottom: 0;
    height: 95%;
    position: absolute;
    width: 100%;
    text-align: center;
}

#ice-broken {
    font-family: 'Special Elite', cursive;
    font-size: 6vw;
    width: 90%;
    margin: 0 auto;
    position:relative;
    top:30%;
}

#footer {
    bottom: 0;
    height: 5%;
    left: 0;
    margin: auto;
    position: absolute;
    top: 95%;
    right: 0;
    width: 100%;
    text-align: center;
}
